html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica", serif;
  font-weight: normal; }

code {
  font-family: "Consolas", "Monaco", monospace;
  font-weight: normal; }

body, html, p, code {
  color: #888888; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }

pre {
  overflow: scroll;
  background: #eeeeee;
  padding: 10px; }

header{
  width: 100%;
  height: 90px;
  background: #0078c4;

}

header img{
  margin: 21px 19px 17px 124px;
}


hr{
height: 6px;
background: #11a9ac;
margin-top: -1px;
border: none;
}

footer{
  width: 100%;
  height: 50px;
  background: #4aa3df;
  float: left;

}
footer p{
  text-align:center;
  margin: 15px;
  font-family:lato;

  color: #fff;
}
.background{
  background: url("../images/pt.png");
  width:100%;
  height:300px;
  margin-top: -223px;
}
.anuncement{
  margin:10px;

}

.menu{list-style:none; float:right; }

.menu li{position:relative; }

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li ul{position:absolute; top:25px; background-color:#fff; display:none; }

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{border:1px solid #c0c0c0; display:block; width:150px;}

.gearicon{
  float:right;
  margin: -57px 187px 48px 10px;
}

.icons{
  float:left;
  margin: 10px 10px 10px 10px;
}

h1{
  text-align: center;
  margin: 100px 0 83px 10px;
  font-size: 40px;
}
.idea{
  text-align: center;

}

.formdiv{
  
}
.btn{
  width: 45px;
  height: 47px;
  float: right;
  margin: -82px 154px 114px -35px
}

.offer {
background: none repeat scroll 0 0 #405D9B;
color: #405D9B;
display: block;
float: left;
font: 20px/48px "calibri";
height: 47px;
margin-top: 82px;
margin-left:-80px;
text-align: center;
text-decoration: none;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.offer {
width: 94px;
}
a.offer:hover {
background: #FCD04B;
}

.offerbtn {
background: none repeat scroll 0 0 #0E83CD;
box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 2px 3px rgba(0, 0, 0, 0.4);
color: #FFFFFF;
display: block;
float: left;
font: 20px/48px "calibri";
height: 56px;
margin:  6px 190px 29px -166px;
text-align: center;
text-decoration: none;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.offerbtn {
width: 200px;
}
a.offerbtn:hover {
background: #FCD04B;
}




.offer1 {
background: none repeat scroll 0 0 #15C4FF;
color: #46629E;
display: block;
float: left;
font: 20px/48px "calibri";
height: 47px;
margin-top: -2px;
//margem twitter lado esquerdo
//margin-left:120px;
margin:82px -2px 0px -19px; 
text-align: center;
text-decoration: none;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.offer1 {
width: 94px;
}
a.offer1:hover {
background: #FCD04B;
}

.offer1btn {
background: none repeat scroll 0 0 #0E83CD;
box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 2px 3px rgba(0, 0, 0, 0.4);
color: #FFFFFF;
display: block;
float: left;
font: 20px/48px "calibri";
height: 56px;
margin:  6px 190px 29px -10px;
text-align: center;
text-decoration: none;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.offer1btn {
width: 94px;
}
a.offer1btn:hover {
background: #FCD04B;
}




.offer3 {
background: none repeat scroll 0 0 #2ecc71;
color:#FFF;
display: block;
float: left;
font: 38px/43px "calibri";
height: 47px;
//margin-top: -2px;
//margin-left:180px;
margin:82px 0px 0px 42px;
text-align: center;
text-decoration: none;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);

}

.offer3 {
width: 94px;
}
a.offer3:hover {
background: #FCD04B;
}

.offer3btn {
background: none repeat scroll 0 0 #0E83CD;
box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 2px 3px rgba(0, 0, 0, 0.4);
color: #FFF;
display: block;
float: left;
font: 20px/48px "calibri";
height: 56px;
margin:  6px 190px 29px -166px;
text-align: center;
text-decoration: none;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.offer3btn {
width: 200px;
}
a.offer3btn:hover {
background: #FCD04B;
}


h1.titulo{
	
	font-family: "Century Gothic", "Monaco", monospace;
  font-weight:bold;
  font-size:50px;
  margin:80px 0px -30px -806px;
  color:#0078c4;
 
	
}

.linhaTitulo{
	margin: 32px 20px -47px 153px;
	height:2px;
	width:621px;
	background-color:#c0c0c0;
	
}

.imgComp{
	margin-top:10px;

	
}


.content {
  width: 980px;
  margin: 80px auto; }

.formats .format {
  display: inline-block; }

.zip {
  background: url("../images/zip.png");
  display: block;
  width: 128px;
  height: 128px; }

.tar {
  background: url("../images/tar.png");
  display: block;
  width: 128px;
  height: 128px; }

.fork {
  position: absolute;
  top: 0;
  left: 0;
  border: 0; }

.button {
  display: block;
  padding: 20px;
  width: 200px;
  color: white;
  background: #0078c4;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  border: none;
   }
form{
  margin: 80px 0 -56px 137px;
}

form input{
  margin: 2px 10px 9px 12px;
  width: 460px;
  height: 47px;
}
button {
background:#0078c4 ;
width: 96px;
height: 47px;
margin: 0 10px 10px -92px;
border: none;
}

#rock {
    width: 92px;
    height: 38px;
    background-image: url(http://th07.deviantart.net/fs70/150/i/2013/012/c/6/rock_01_png___by_alzstock-d5r84up.png);
    background-repeat: no-repeat;
}

pre .support.tag {
  color: #000088; }
pre .support.attribute {
  color: #880000; }
pre .string.value {
  color: #008800; }

.example {
  position: relative; }
  .example .brick {
    opacity: 1;
    cursor: pointer;
    position: relative; }
    .example .brick .delete {
      display: block;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      position: absolute;
      text-align: center;
      line-height: 40px; }
    .example .brick.small {
      width: 140px;
      height: 140px; }
    .example .brick.large {
      width: 300px;
      height: 300px; }
    .example .brick.dragging {
      opacity: 0.8; }
    .example .brick:nth-child(20n + 1) {
      background: #1abc9c; }
    .example .brick:nth-child(20n + 2) {
      background: #16a085; }
    .example .brick:nth-child(20n + 3) {
      background: #2ecc71; }
    .example .brick:nth-child(20n + 4) {
      background: #27ae60; }
    .example .brick:nth-child(20n + 5) {
      background: #3498db; }
    .example .brick:nth-child(20n + 6) {
      background: #2980b9; }
    .example .brick:nth-child(20n + 7) {
      background: #9b59b6; }
    .example .brick:nth-child(20n + 8) {
      background: #8e44ad; }
    .example .brick:nth-child(20n + 9) {
      background: #34495e; }
    .example .brick:nth-child(20n + 10) {
      background: #2c3e50; }
    .example .brick:nth-child(20n + 11) {
      background: #f1c40f; }
    .example .brick:nth-child(20n + 12) {
      background: #f39c12; }
    .example .brick:nth-child(20n + 13) {
      background: #e67e22; }
    .example .brick:nth-child(20n + 14) {
      background: #d35400; }
    .example .brick:nth-child(20n + 15) {
      background: #e74c3c; }
    .example .brick:nth-child(20n + 16) {
      background: #c0392b; }
    .example .brick:nth-child(20n + 17) {
      background: #ecf0f1; }
    .example .brick:nth-child(20n + 18) {
      background: #bdc3c7; }
    .example .brick:nth-child(20n + 19) {
      background: #95a5a6; }
    .example .brick:nth-child(20n + 20) {
      background: #7f8c8d; }

.circles {
    text-align:center;
}

.circleone img a:hover{
    
}

.circleone{
    
    display: inline-block;
    margin: 33px 25px 8px 25px;

}

.subcircle{
    
    display: block;
  
}

.subcircle img{
    

}
#search-box{
    width: 457px;
    height: 47px;
    margin: 29px -4px 37px 1px;
    font-size: 15px;
}

 h2{
  color: #444444;
  margin: 19px;
  font-size: 16px;
}

h2 p{
  margin:10px;
}

